<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/eac29ec11e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body> 
    <div class="container">
        <div class="navbar">
            <a href = "{{url_for('home')}}">
                <i class="fa-solid fa-people-roof fa-2x"></i>
            </a>
            <a href = "{{url_for('chat')}}">
                <strong> chat </strong>
            </a>
            <a href = "{{url_for('profile')}}">
                <strong> profile </strong>
            </a>
        </div>
        <div class="profile-container">
            {% for match in matches %}
                <div class="profile">
                    <strong> {{match[0]}} </strong>
                    <strong> {{match[1]}} </strong>
                </div>
            {% endfor %}
        </div>
    </div>
  </body>
</html>