<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='profile.css') }}"
    />
    <script
      src="https://kit.fontawesome.com/eac29ec11e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body> 
    <div class="container">
        <div class="navbar">
            <a href = "{{url_for('home')}}">
                <i class="fa-solid fa-people-roof fa-2x"></i>
            </a>
            <a href = "{{url_for('chat')}}">
                <strong> chat </strong>
            </a>
            <a href = "{{url_for('profile')}}">
                <strong> profile </strong>
            </a>
        </div>
        
        <div class="profile-container">
            <div class="profile">
                <strong>@{{user.username}}</strong>
                <strong>@{{user.name}}</strong>

                <form name="edit-form">
                  <label for="name"> Name: </label>
                  <input type="text" name="name" class="field" required>
  
                  <p class="error error--hidden"> </p>
      
                  <input type="submit" value="Save" class="btn">
                </form>

                <a href="/signout">
                    <button> Sign Out </button>
                </a>        

            </div>
        </div>
 
    </div> 
    <script src="/static/js/jquery.js"> </script>
    <script src="/static/js/script.js"> </script>
    <script>
      $("form[name=edit-form").submit(function(e) {
        var $form = $(this);
        var $error = $form.find(".error");
        var data = $form.serialize();
    
        $.ajax({
            url: "/profile/",
            type: "POST",
            data: data,
            dataType: "json",
            success: function(resp){
              window.location.href = "/profile";
            },
            error: function(resp){
                console.log(resp);
                $error.text(resp.responseJSON.error).removeClass("error--hidden");
            }
        });
    
        e.preventDefault();
    });
    </script>
  </body>
</html>