*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    overflow: hidden;
    height: 100%;
}

body{
    height: 100%;
    overflow: auto;
    background-color: #31304D;
}

.container{
    width: 100%;
    padding: auto;
    padding-bottom: 20vh;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-size: 2vw;
    background-color: #161A30;
    color: #F0ECE5;
    padding: 1rem 0;
}

.navbar > a{
    margin: 20px;
    margin-right: 30px;
    text-decoration: none;
    border: none;
    color: inherit;
    outline: none;
}